<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Sports&GO é um conceito inovador de suporte a actividades desportivas outdoor!</h1>
        <p class="lead">A Sports&Go tem no seu core business o desenvolvimento de soluções de apoio à prática desportiva outdoor visando parceiros como entidades municipais, organizações de eventos desportivos e culturais.</p>
        <br>
        <p class="lead">Somos um grupo composto por profissionais que agrega know-how da área da engenharia e desporto, oferecendo seriedade, profissionalismo e transparência.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
