<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Sports&GO, um conceito novo de suporte a actividades desportivas outdoor!</h1>
        <br>
        <p class="lead">A Sports&Go desenvolve e fornece soluções customizadas de apoio à prática desportiva outdoor tendo como parceiros entidades municipais, organizações de eventos desportivos e culturais.</p>
        <br>
        <p class="lead">Somos um grupo composto por profissionais que agrega know-how nas áreas da engenharia e desporto, oferecendo seriedade, profissionalismo e transparência.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
