<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A Sports&GO e um conceito inovador de suporte a actividades desportivas outdoor!</h2>
        <p class="lead">A Sports&Go tem como seu core buisness a criação de instalações de apoio à prática desportiva outdoor visando parceiros como camaras municipais, organizações de eventos culturais e desportivos. 
O grupo é composto por profissionais competentes e dedicados, oferecendo seriedade, profissionalismo e transparência. 
 </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
