<!DOCTYPE html>
<html lang="en">
  
  <style>
  <link href='https://fonts.googleapis.com/css?family=Signika:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
  
  <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet" type="text/css">
  
  
  
  </style>

  {% include head.html %}

<body>
  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  <!-- {% include portfolio.html %} -->
  <!-- {% include call-to-action.html %} -->
  <!-- {% include callout.html %} -->
  {% include map.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
